/* Error: Nothing may be indented beneath a @import rule.
 *   ,
 * 4 |     @include reset
 *   |     ^
 *   '
 *   sass/styles.sass 4:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Nothing may be indented beneath a @import rule.\a   \2577 \a 4 \2502      @include reset\a   \2502      ^\a   \2575 \a   sass/styles.sass 4:5  root stylesheet";
}
